body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black; 
    margin: 0;
    padding: 0;  
    color: #FFF;
    padding: 1.5em;
}


section{
    display: flex;
}

.sideBar{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 25vw;
    height: 88vh;
    background-color: #333;
    border-right: 1px solid #6f6e6e;
}

header{
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: 25vw;
    padding: 0 0.2px;
    border-right: 1px solid #6f6e6e;
    background-color: #4f4e4e;
    display: flex;
    justify-content: start;
    align-items: center;
}

header .profile{
    margin: .5em 2em;
}










.parte-cima-conversa{
    background-color: #4f4e4e;
    width: 71.7vw;
    height: 5.07em;
    cursor: pointer;
    position: fixed;
    top: 1.5em;
    right: 1.5em;
}













form{
    width: 100%;
}



.container{
    border-left: none;
    width: 80vw;
    height: 93.1vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #232222;
}


.mensagem{
    background-color: rgb(57, 57, 57);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem input{
    width: 75%;
    padding: .8em;
    height: 1.2em;
    font-size: 1.05em;
    border-radius: 10px;
    margin: 0 2em;
    border: none;
    background-color: #5c5a5a;
    color: #FFF;
}

.mensagem input:focus{
    outline: none;
}
.mensagem input::placeholder{
    color: #ccc;
}















.chat{
    background-color: rgb(58, 50, 39);
    width: 94%;
    padding: 1em;
}


.MSG2{
    text-align: start;
    background-color: brown;
}

.MSG1{
    background-color: rgb(56, 100, 86);
    width: 100%;
    text-align: end;

}

.MSG2 p{
    
}






















/* 

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mensagem {
    margin-bottom: 10px;
}

#mensagem {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.chat {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.mensagem-enviada {
    background-color: #dff0d8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mensagem-enviada .MSG1 {
    font-weight: bold;
}

.MSG2 {
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 5px;
} */
