body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #333; 
    margin: 0;
    padding: 0;  
    color: #FFF;
}


section{
    display: flex;
}

.sideBar{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 25vw;
    height: 90vh;
}

.container{
    padding: 20px;
    width: 70vw;
    height: 94.5vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: aquamarine;
}


